@import url(customized.ui.min.css);
body,
main {
  width: 100%;
}
.fa,
.fa-instagram::before,
.fa::before,
.fab,
.fal,
.far,
.fas,
.fas::before {
  font-family: fontawesome !important;
}
.header .nav-bar .fa-angle-down,
.section-menu .nav-bar > li.has-sub-menu > a::after {
  vertical-align: unset;
  padding-right: unset;
  color: unset;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas,
i[class*=" flaticon-"]:before,
i[class^="flaticon-"]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
}
#header-resize,
.info-tel {
  direction: ltr;
}
.btn-item button:hover,
.login-btn:hover,
.searched-item button:hover {
  box-shadow: 0 10px 13px -10px #0c2d33;
}
.call-mobile,
li#Insurance,
li#Tour {
  display: none;
}
.Login_Information,
.info-tel,
.section-menu,
.signs li,
.social-icons li {
  display: inline-block;
}
@font-face {
  font-family: fontawesome;
  src: url("../fonts/reservation_fontawesome-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/reservation_fontawesome-webfont.ttf") format("truetype"),
    url("../fonts/reservation_fontawesome-webfont.svg") format("svg"),
    url("../fonts/reservation_fa-brands.eot") format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/reservation_fa-brands.eot");
  src: url("../fonts/reservation_fa-brands.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-brands.ttf") format("truetype"),
    url("../fonts/reservation_fa-brands.svg") format("svg");
}
.fa-instagram::before,
.fa-paper-plane:before,
.fa-whatsapp:before,
.fab,
.far {
  font-weight: 400;
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../fonts/reservation_fa-regular.eot");
  src: url("../fonts/reservation_fa-regular.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-regular.ttf") format("truetype"),
    url("../fonts/reservation_fa-regular.svg") format("svg");
}
@font-face {
  font-family: fontawesome;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../fonts/reservation_fa-solid.eot");
  src: url("../fonts/reservation_fa-solid.eot") format("embedded-opentype"),
    url("../fonts/reservation_fa-solid.ttf") format("truetype"),
    url("../fonts/reservation_fa-solid.svg") format("svg");
}
@font-face {
  font-family: IRANSansWeb;
  src: url("../fonts/reservation_IRANSansWeb(FaNum).ttf") format("truetype"),
    url("../fonts/reservation_IRANSansWeb(FaNum).eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: IRANSansWebEnNum;
  font-style: normal;
  font-weight: lighter;
  src: url("../fonts/reservation_IRANSansWeb_Medium.eot");
  src: url("../fonts/reservation_IRANSansWeb_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/reservation_IRANSansWeb_Medium.woff") format("woff"),
    url("../fonts/reservation_IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: flaticon;
  src: url("../fonts/reservation_FG.eot?n1z373");
  src: url("../fonts/reservation_FG.eot?#iefixn1z373")
      format("embedded-opentype"),
    url("../fonts/reservation_FG.woff?n1z373") format("woff"),
    url("../fonts/reservation_FG.ttf?n1z373") format("truetype"),
    url("../fonts/reservation_FG.svg?n1z373#lg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: flaticon;
  src: url("../fonts/fontFlaticon.ttf") format("truetype"),
    url("../fonts/fontFlaticon.woff") format("woff"),
    url("../fonts/fontFlaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/fontFlaticon.svg#flaticon") format("svg");
}
i[class*=" flaticon-"]:before,
i[class^="flaticon-"]:before {
  font-family: flaticon !important;
  text-transform: none;
}
#temp1-pdf-package .page-nights,
#temp1-pdf-package .tour-if::before,
.Basis_Calendar .basis_s_day,
.Basis_Calendar .day_of_date,
.Basis_Calendar .month_of_date,
.angle-content .three,
.col-article .cdate::before,
.col-article .view-ar:hover,
.color_1,
.color_2,
.consult-rsv form input.consult-submit:hover,
.cotact-each-icon i,
.font-color_1,
.font-color_2,
.header .nav-bar > .menu-item > .sub-menu li > a:hover,
.highlight,
.inner-about-box .section-title,
.item-aside-art #tabs li a,
.item-aside-art #tabs li i,
.list-footer a:hover,
.login-title i,
.owl-next span,
.owl-prev span,
.rangevalFirst,
.rangevalFirst_2,
.rangevalFirst_2 span,
.rangevalSecond,
.rangevalSecond_2,
.rangevalSecond_2 span,
.section-container .dash,
.section-input_list input[type="checkbox"]:checked + label span.checkbox::after,
.section-input_list input[type="radio"]:checked + label span.checkbox::after,
.section-menu .nav-bar > .menu-item:not(:first-child) a:hover,
.selectCountry i,
.tour-completion-info i {
  color: var(--secondary-700);
}
.color_font {
  color: #5c5c5c;
}
#temp1-pdf-package .circle-5,
#temp1-pdf-package .info-title,
.Basis_Calendar .selected_day,
.background-color_1,
.background-color_2,
.bg_color_1,
.effect-apollo figure,
.fa-exchange-alt,
.tour-info-tlt {
  background: var(--secondary-700);
}
.font-color_3 {
  color: #30d5a0;
}
.background-color_3 {
  background: #30d5a0;
}
.Basis_Calendar .month_name_gregorian,
.color_white,
.font-color_4,
.inner-col-footer li a,
.social-icons li:hover a,
.user-profile-btn {
  color: #fff;
}
.item_hotel {
  border-left: 2px solid var(--secondary-700);
}
.Basis_Calendar .month_day_list table td:hover,
.Basis_Calendar .month_detail,
.Basis_Calendar .selected_date,
.active_tab_tour,
.controls:hover {
  background: var(--secondary-700);
  color: #fff;
}
.brd-pdf,
.prev-passengers:hover {
  border-color: var(--secondary-700) !important;
}
main {
  position: relative;
}
body {
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}
/* .Login_Informati span,
.Login_Informati span.btnstyle span,
.Panel-Dashboard_link::before {
  color: #fff !important;
} */
section.content {
  width: 100% !important;
}
.header-t
  header
  div.w-full.h-full.flex.items-center.xl\:\!w-\[1280px\].justify-between,
footer div.w-full.h-full.flex.flex-col.gap-8.xl\:\!w-\[1280px\] {
  direction: ltr !important;
}

.Basis_Calendar .month_change i:hover,
.active-item-search,
.close-research,
.color_3,
.confirm:hover,
.details-item-title,
.flight-summary-info .dash i,
.flight_type .active,
.flight_type li:hover,
.login-title i,
.name-tour,
.nav-details li.active,
.nav-details li:hover,
.passenger-title,
.prev-passengers,
.social-art-footer ul li a:hover,
.sort-box .sort-items li.active,
.sort-items li.active,
.sort-items li:hover,
.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker th {
  color: var(--primary-900);
}
.UserInfo:before,
.btnstyle::before,
.information-user:before {
  content: unset;
  width: unset;
  height: unset;
  line-height: unset;
  margin: unset;
}
.section-menu .nav-bar > li:first-child {
  padding: unset;
}
.section-menu .nav-bar > li.active > a::before {
  content: unset;
  position: unset;
  top: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  background: unset;
  transition: unset;
}
.section-menu .nav-bar > li:not(.active) > a::before {
  content: unset;
  left: unset;
  position: unset;
  top: unset;
  width: unset;
  height: unset;
  margin-top: unset;
  background: unset;
  transition: unset;
}
.section-menu .nav-bar > li:not(.last) {
  border-left: unset;
}
.section-menu .nav-bar > li.has-sub-menu > a::after {
  content: unset;
  font-family: unset;
}
.section-menu .nav-bar > li:not(.active) a:hover:before {
  left: unset;
  width: unset;
}
.menu ul li {
  display: unset;
}
.menu-icon {
  width: unset;
  height: unset;
  line-height: unset !important;
  margin-right: unset;
  text-shadow: unset;
  border-radius: unset;
}
.header .nav-bar > li {
  padding-left: unset;
  position: unset;
  display: unset;
}
.header .nav-bar > li.inactive-menu::before {
  width: unset;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
}
.header .nav-bar > li .Login_Information a {
  color: unset;
}
.header .nav-bar > li .sub-menu {
  background: unset;
  width: unset;
  box-shadow: unset;
  position: unset;
  border-radius: unset;
  top: unset;
  right: unset;
  visibility: unset;
  z-index: unset;
  min-width: unset;
}
.header .nav-bar > li > .sub-menu li {
  width: unset;
  position: relative;
  padding: 0;
  transition: padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
}
.header .sub-menu .icon-arrow:before {
  content: unset;
  font-feature-settings: unset;
  font-kerning: unset;
  font-language-override: unset;
  font-size-adjust: unset;
  font-synthesis: unset;
  line-height: unset;
  text-rendering: unset;
  transform: unset;
}
.header .nav-bar > li > .sub-menu li:hover > .sub-menu {
  opacity: unset;
  visibility: visible;
  opacity: 1;
  right: 100%;
  z-index: 10;
}
.header .nav-bar > li > .sub-menu li:not(:last-child) {
  border-bottom: unset;
}
.section-menu .nav-bar > li:not(:first-child) {
  padding: 0;
}
.header {
  padding: 0.5em 0 0 !important;
}
.section-menu .nav-bar > li {
  padding-left: 2em !important;
  position: relative !important;
  display: inline-block !important;
}
.section-menu .nav-bar > li.inactive-menu::before {
  width: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.Logout_link,
.Panel-Dashboard_link,
.info-section {
  float: right;
  margin-left: 5px;
  color: #fff !important;
}
.section-menu .nav-bar > li:not(:first-child) a {
  color: #454545;
}
.header .nav-bar > li > .sub-menu {
  background: #fbfbfb;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 5px;
  top: 150%;
  right: 0;
  visibility: hidden;
  z-index: 100;
  min-width: 250px;
}
.header .nav-bar > li:hover > .sub-menu {
  visibility: visible;
}
.header .nav-bar > li > .sub-menu li > a {
  color: #454545;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 15px;
  text-align: right;
}
.header .nav-bar > li > .sub-menu .sub-menu li a {
  padding: 5px 20px;
}
.header .sub-menu .icon-arrow:before {
  content: "\f0d9";
  display: inline-block;
  font-family: fontawesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 100%;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: 400;
  line-height: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}
.header .nav-bar > li:hover > .sub-menu > li {
  padding: 3px 0;
}
.header .nav-bar > li > .sub-menu li .sub-menu {
  opacity: unset;
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 80%;
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear, left 0.3s linear;
  transition: opacity 0.3s linear, left 0.3s linear;
  z-index: 0;
}
.section-menu .nav-bar .fa-angle-down {
  color: #b9b9b9;
  vertical-align: sub;
  padding-right: 5px;
}
.header .nav-bar > li > .sub-menu li > a:hover,
.list-footer a:hover,
.section-menu .nav-bar > li:not(:first-child) a:hover {
  color: #1a80c3;
}
.nav-bar {
  margin-top: 2em;
}
.svg-container {
  width: 500px;
}
.svg-container.left {
  left: -15em;
}
.svg-container.right {
  right: -20em;
}
.svg-container.top {
  top: 10em;
}
.svg-container svg {
  fill: #edf7f8 !important;
}
.hvr-ripple-out:before {
  border: var(--secondary-700) solid 6px;
}
.section-menu .btn_1 {
  font-size: 14px;
  overflow: unset;
  border-radius: 3em;
  padding: 0.6em 1em;
  min-width: 120px;
  text-align: center;
}
.footer {
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-position: center bottom;
  background-color: #fff;
}
.col-footer {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-footer h6 {
  margin: 1.5rem 0 0.5rem;
}
.social-icons {
  margin-top: 0.75rem !important;
}
.social-icons li {
  list-style: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 35px;
  margin: 1px auto;
}
.social-icons li:hover {
  background: #1a80c3;
  background: var(--secondary-700);
}
.list-footer a,
.list-footer span {
  line-height: 2;
  color: #505050 !important;
}
.footer .fa-angle-double-left,
.list-footer .fa {
  margin-left: 0.5rem !important;
}
.row-footer-botton {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.75rem !important;
  border-top: 1px solid rgba(167, 180, 201, 0.2);
}
.row-footer-botton img {
  position: relative;
  top: 4px;
  margin-right: 7px;
}
.signs li {
  margin: 0 1em;
}
.signs img {
  width: 45px;
  height: auto;
  vertical-align: middle;
}
.call-mobile {
  position: fixed;
  bottom: 30px;
  left: 20px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  z-index: 10000;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: #36ae03;
  text-align: center;
  border: 2px solid #36ae03;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.Basis_Calendar .month_detail,
.call-mobile:hover {
  background: #fff;
}
.call-mobile a {
  width: 100%;
  height: 100%;
}
.call-mobile i {
  font-size: 22px;
  color: #fff !important;
}
.call-mobile:hover i {
  color: #36ae03 !important;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  text-rendering: auto;
  line-height: unset;
}
.fa-linkedin-in::before {
  content: "\f0e1";
}
.fa-youtube::before {
  content: "\f167";
}
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-arrow-up:before {
  content: "\f062";
}
.item-article .figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.item-article .figure:hover::before {
  -webkit-animation: 0.75s circle;
  animation: 0.75s circle;
}
@-webkit-keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
#temp1-pdf-package .hotel-2,
#temp1-pdf-package .hotel-3,
#temp1-pdf-package .hotel-4,
#temp1-pdf-package .hotel-5,
#temp1-pdf-package .hotel-6,
#temp1-pdf-package .hotel-7,
#temp1-pdf-package .hotel-8,
#temp1-pdf-package .hotel-9,
#temp1-pdf-package .name-table td table tr td,
#temp1-pdf-package .part31,
.Basis_Calendar .month_day_list table td:hover,
.Basis_Calendar .selected_date,
.background-color_1,
.background-color_2,
.bottom-content .action-loading,
.duration-details::after,
.duration-details::before,
.next-btn:hover,
.searched-item button:hover,
.second-part-header .col1-second-part-header a span,
.second-part-header .col1-second-part-header a::after,
.second-part-header .col1-second-part-header a::before,
.tlt-table,
.tour-info-tlt,
fieldset hr {
  background-color: var(--secondary-700);
}
.Basis_Calendar .selected_day,
.background-color_3,
.bottom-content .action-loading,
.login-btn:hover,
.next-btn,
.select-passnger,
.ui-datepicker .ui-datepicker-buttonpane button,
.ui-datepicker table thead th,
.ui-datepicker-buttonpane .ui-datepicker-current:focus,
.ui-datepicker-today .ui-state-highlight {
  background-color: var(--primary-900);
}
.info-tel {
  line-height: 110px;
}
.loading-container .loading-img {
  margin-top: 1.5rem;
  display: flex !important;
  justify-content: center;
}
.fa-phone::before {
  content: "\f095";
}
.color_grey,
.info-tel a,
.owl-next:hover i,
.owl-prev:hover i {
  color: #505050;
}
.info-tel .fa-phone {
  transform: rotate(90deg);
  font-size: 13px;
  background: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  margin: 0 8px;
  border: 1px solid #6a6a6a;
}
.Basis_Calendar .date_info_selected,
.Basis_Calendar .month_detail {
  border-bottom: 2px solid var(--secondary-700);
}
.title-content {
  background-color: #9aa8be4d;
}
.section-input_list span.checkbox::before {
  border: 2px solid var(--primary-900);
}
.section-input_list
  input[type="checkbox"]:checked
  + label
  span.checkbox::after {
  color: #fff;
  margin-top: 2px;
  margin-right: 1px;
}
.active-tab {
  background: var(--primary-900) !important;
  color: white !important;
}
#back-to-top {
  bottom: 100px !important;
}
#back-to-top:hover {
  background: #fff !important;
  color: var(--secondary-700);
  border: 2px solid var(--secondary-700);
}
.active-item-search svg {
  fill: var(--primary-900) !important;
  stroke: var(--primary-900);
}
.about-container .about-box-altern li i {
  color: var(--secondary-700);
  font-weight: 700;
}
#temp1-pdf-package .circle-1,
#temp1-pdf-package .circle-2,
#temp1-pdf-package .circle-3,
.subtitle-content::after,
.subtitle-content::before {
  background: var(--primary-900);
}
.tour-container .figure:hover .cost-tour {
  color: #fff;
  background-color: var(--secondary-700);
}
.cost-tour,
.exchange-icon,
.login-link,
.owl-next,
.owl-prev {
  border: 1px solid var(--secondary-700);
}
.first-row svg,
.prev-passengers:hover svg,
.third-row svg {
  fill: var(--secondary-700);
}
.active-flight-type {
  background: var(--secondary-700) !important;
  color: #fff;
}
.font_color_2 {
  color: #7ab9d4;
}
.tabs-tour-inner .items-tour-tab a:hover,
.tabs-tour-inner .items-tour-tab.active a {
  font-weight: 550;
  color: var(--secondary-700);
}
.hvr-outline-out:before {
  border: var(--secondary-700) solid 4px;
}
.btn_1 {
  background-color: var(--secondary-700);
  color: #fff;
}
.btn_1:hover {
  background-color: #000;
}
.login_module_prev:hover {
  color: #000;
  border-color: #000;
}
#Login_box .shine-hover,
.brief-container .head-items .title,
.buyer-type ul li.active,
.buyer-type ul li:hover,
.details-btn:hover,
.item-tour:hover {
  color: #fff;
  background-color: var(--primary-900);
}
#Login_box .shine-hover {
  border: 1px solid var(--primary-900);
  background-color: var(--secondary-700);
  border: 1px solid var(--secondary-700);
}
#Login_box .shine-hover:hover,
.login-btn {
  background-color: var(--primary-900);
  background-color: var(--secondary-700);
}
.login_info i {
  color: var(--primary-900) !important;
}
.radioButton:checked + label span::after {
  color: var(--primary-900);
  border: 2px solid var(--primary-900);
}
.airport_filter,
.airport_filter_des,
.filter-container:not(:last-child),
.searched-flight {
  border-bottom: 1px dashed var(--primary-900);
}
.btn-item button,
.flight-duration-stop::before,
.flight-duration-stop:before {
  background-color: var(--primary-900);
  border: 1px solid var(--primary-900);
}
.close-research,
.confirm,
.details-btn {
  border: 1px solid var(--primary-900);
}
.details-row-middle_1 {
  border-left: 2px dashed var(--primary-900);
}
.details-circle::after,
.details-circle::before {
  border: 2px solidvar(--primary-900);
}
.section-input_list
  input[type="checkbox"]:checked
  + label
  span.checkbox::before,
.section-input_list input[type="radio"]:checked + label span.checkbox::before {
  border-color: var(--primary-900);
}
.confirm:hover {
  background-color: #fff;
}
.minus-btn {
  background-color: #900;
  box-shadow: #d1bcdc 0 -3px 0 0 inset;
}
.plus-btn {
  background-image: linear-gradient(#9aca0f, #73b828);
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0, #0a9346 0 -3px 0 0 inset;
}
.after-btn:hover,
.before-btn:hover {
  background-color: var(--primary-900);
  color: #fff;
  border: 1px solid var(--primary-900);
}
.btn-item button:hover {
  background-color: #fff !important;
  color: var(--secondary-700) !important;
}
.exchange-icon:hover {
  background-color: var(--secondary-700);
  color: var(--primary-900) !important;
}
.close-content .fa-times::before,
.login_info i,
.prev-passengers:hover {
  color: var(--secondary-700) !important;
}
.progress-bar {
  background-color: var(--primary-900) !important;
}
.loading,
.loading-container:hover .loading {
  border-color: transparent var(--secondary-700) transparent
    var(--secondary-700);
}
.Basis_Calendar .current_day {
  background-color: var(--secondary-700) 5c !important;
}
.ui-datepicker-buttonpane .ui-datepicker-current:hover,
.ui-datepicker-buttonpane .ui-state-default:focus,
.ui-datepicker-buttonpane .ui-state-default:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solidvar(--secondary-700);
  background-color: var(--secondary-700) !important;
}
.side-tour i {
  color: #faa944;
}
.row-other-inf {
  border-right: 3px solid var(--secondary-700);
}
.loading-img img {
  margin-top: 15px;
  width: 70%;
  margin-right: 0;
}
.prev-passengers {
  border-bottom: 2px solid var(--primary-900);
}
.passengers-prev-title svg,
.prev-passengers svg {
  fill: var(--primary-900);
}
.nav-details li::before {
  border-top: 3px solid var(--primary-900);
}
.buyer-type ul li,
.login-link {
  border: 1px solid var(--primary-900);
  color: var(--secondary-700);
}
.inside-title {
  border-right: 3px solid var(--primary-900);
}
.duration-details {
  border-bottom: 2px dashed var(--secondary-700);
}
.login-link:hover {
  background-color: var(--secondary-700);
  color: #fff !important;
}
.Login_Information {
  font-size: 14px;
  border-radius: 3em;
  padding: 0.6em 1em;
  text-align: center;
}
#temp1-pdf-package .print1 {
  border: 1px solid var(--secondary-700);
  border: 1px solid var(--secondary-700);
}
#temp1-pdf-package .hotel-info tr:first-child td,
#temp1-pdf-package .hotel-info tr:first-child tr:first-child td {
  border-left: 1px dashed var(--secondary-700) !important;
}
#temp1-pdf-package .hotel-tooltip:after {
  border-top: 5px solid var(--secondary-700);
}
header.Header-top::after {
  position: absolute !important;
  content: "" !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  background: linear-gradient(to bottom, var(--black-1), rgba(0, 0, 0, 0));
  z-index: 10;
}
header.Header-top div {
  z-index: 20 !important;
}
footer,
header {
  direction: rtl !important;
}
@media only screen and (max-width: 621px) {
  .news-form .captcha-content {
    width: 100%;
  }
  .news-form .field-captcha {
    float: left;
  }
  .news-form .field-captcha img {
    width: 60px;
  }
}
@media (max-width: 1200px) {
  .mm-spn a,
  .mm-spn li {
    direction: rtl;
    text-align: right;
    font-size: 13px;
  }
  .mm-spn ul,
  .mm-spn.mm-spn--navbar.mm-spn--main {
    cursor: default;
  }
  .mm-spn.mm-spn--navbar.mm-spn--main:before,
  .mm-spn.mm-spn--vertical ul ul li:last-child:after {
    content: none;
    display: none;
  }
  .call-mobile {
    display: block;
  }
  .bc-main {
    width: 100%;
    padding: 0 10px;
  }
  .btnstyle span,
  .info-tel,
  .section-menu,
  .user-profile-container .default-user {
    display: none;
  }
  .second-part-header {
    display: inline-block;
  }
  .Login_Information {
    min-width: auto !important;
    margin-right: 20px;
    position: relative;
    top: 16px;
  }
  .header {
    padding-bottom: 1em;
  }
  .col1-second-part-header,
  .col2-second-part-header {
    width: 33.3%;
  }
  .col3-second-part-header {
    margin-right: 1em;
  }
  .col3-second-part-header a {
    float: left;
    right: inherit;
    left: 11px;
  }
  .not-login-section {
    top: 18px !important;
    position: relative;
  }
  .col3-second-part-header .fa-user {
    padding: 2px 20px;
    font-size: 24px;
  }
  .menu_link {
    display: block;
    width: 38px;
    position: relative;
    top: 26px;
    right: 11px;
  }
  .second-part-header .not-login-section {
    display: block;
    width: 38px;
    position: relative;
    top: 12px;
  }
  .second-part-header .col1-second-part-header a:after,
  .second-part-header .col1-second-part-header a:before {
    content: "";
    display: block;
    height: 5px;
  }
  .second-part-header .col1-second-part-header a span {
    display: block;
    height: 5px;
    margin: 6px 0;
  }
  .top-menu {
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0 5px;
  }
  :root {
    --mm-ocd-width: 80%;
    --mm-ocd-min-width: 200px;
    --mm-ocd-max-width: 440px;
    --mm-spn-item-height: 50px;
    --mm-spn-item-indent: 20px;
    --mm-spn-line-height: 24px;
  }
  body.mm-ocd-opened {
    overflow-y: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
  }
  .mm-ocd {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: bottom 0s 0.45s, background-color 0.3s 0.15s;
    -o-transition: bottom 0s 0.45s, background-color 0.3s 0.15s;
    transition: bottom 0s 0.45s, background-color 0.3s 0.15s;
  }
  .mm-spn,
  .mm-spn ul {
    -webkit-overflow-scrolling: touch;
  }
  .mm-ocd--open {
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .mm-ocd__content {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 80%;
    width: var(--mm-ocd-width);
    min-width: 200px;
    min-width: var(--mm-ocd-min-width);
    max-width: 440px;
    max-width: var(--mm-ocd-max-width);
    background: #fff;
    -webkit-transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }
  .mm-ocd--left .mm-ocd__content {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .mm-ocd--right .mm-ocd__content {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .mm-ocd--open .mm-ocd__content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .mm-ocd__backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: calc(100% - 80%);
    width: calc(100% - var(--mm-ocd-width));
    min-width: calc(100% - 440px);
    min-width: calc(100% - var(--mm-ocd-max-width));
    max-width: calc(100% - 200px);
    max-width: calc(100% - var(--mm-ocd-min-width));
    background: rgba(3, 2, 1, 0);
  }
  .mm-ocd--left .mm-ocd__backdrop {
    right: 0;
  }
  .mm-ocd--right .mm-ocd__backdrop,
  .mm-spn ul.mm-spn--open,
  .mm-spn > ul {
    left: 0;
  }
  .mm-spn,
  .mm-spn a,
  .mm-spn li,
  .mm-spn span,
  .mm-spn ul {
    display: block;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .mm-spn {
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .mm-spn ul {
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 2;
    width: 130%;
    padding-right: 30%;
    line-height: 24px;
    line-height: var(--mm-spn-line-height);
    overflow: visible;
    overflow-y: auto;
    background: inherit;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
  }
  .mm-spn li,
  .mm-spn.mm-spn--navbar {
    cursor: pointer;
  }
  .mm-spn ul:after {
    content: "";
    display: block;
    height: 50px;
    height: var(--mm-spn-item-height);
  }
  .mm-spn ul.mm-spn--parent {
    left: -30%;
    overflow-y: hidden;
  }
  .mm-spn li {
    position: relative;
    background: inherit;
    width: 95%;
    background-color: #fff;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    color: #505050;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    height: 40px;
  }
  .mm-spn li:before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    top: calc(var(--mm-spn-item-height) / 4);
    left: 25px;
    left: calc(var(--mm-spn-item-height) / 2);
    z-index: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
  }
  .mm-spn li:after {
    content: "";
    display: block;
    margin-left: 20px;
    margin-left: var(--mm-spn-item-indent);
    opacity: 0.5;
  }
  .mm-spn a,
  .mm-spn span {
    position: relative;
    z-index: 1;
    padding: 5px 2px;
  }
  .mm-spn a {
    background: inherit;
    color: inherit;
    text-decoration: none;
  }
  .mm-spn a:not(:last-child) {
    width: calc(100% - 50px);
    width: calc(100% - var(--mm-spn-item-height));
  }
  .mm-spn a:not(:last-child):after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid;
  }
  .mm-spn span {
    background: 0 0;
    display: inline-block;
  }
  .mm-spn.mm-spn--navbar:before {
    content: "";
    display: block;
    position: absolute;
    top: 121px;
    left: 20px;
    left: var(--mm-spn-item-indent);
    width: 10px;
    height: 10px;
    margin-top: 2px;
    border-top: 2px solid;
    border-left: 2px solid;
    -webkit-transform: rotate(-45deg) translate(50%, -50%);
    -ms-transform: rotate(-45deg) translate(50%, -50%);
    transform: rotate(-45deg) translate(50%, -50%);
    opacity: 0.8;
  }
  .mm-spn.mm-spn--navbar:after {
    content: attr(data-mm-spn-title);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    height: var(--mm-spn-item-height);
    padding: 0 40px;
    padding: 0 calc(var(--mm-spn-item-indent) * 2);
    line-height: 50px;
    line-height: var(--mm-spn-item-height);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  .mm-spn.mm-spn--navbar.mm-spn--main:after {
    padding-left: 20px;
    padding-left: var(--mm-spn-item-indent);
  }
  .mm-spn.mm-spn--navbar ul {
    top: 51px;
    top: calc(var(--mm-spn-item-height) + 1px);
  }
  .mm-spn.mm-spn--navbar ul:before {
    content: "";
    display: block;
    position: fixed;
    top: inherit;
    z-index: 2;
    width: 100%;
    opacity: 0.5;
  }
  .mm-spn.mm-spn--light {
    color: #505050;
    background: linear-gradient(90deg, #f6fafc 0, #ededed 50%, #fff 100%);
  }
  .mm-spn.mm-spn--dark {
    color: #fff;
    background: #505050;
  }
  .mm-spn.mm-spn--vertical {
    overflow-y: auto;
  }
  .mm-spn.mm-spn--vertical ul {
    width: 100%;
    padding-right: 0;
    position: static;
  }
  .mm-spn.mm-spn--vertical ul ul {
    display: none;
    padding-left: 20px;
    padding-left: var(--mm-spn-item-indent);
  }
  .mm-spn.mm-spn--vertical ul ul:after {
    height: 25px;
    height: calc(var(--mm-spn-item-height) / 2);
  }
  .mm-spn.mm-spn--vertical ul.mm-spn--open {
    display: block;
  }
  .mm-spn.mm-spn--vertical li.mm-spn--open:before {
    -webkit-transform: rotate(135deg) translate(-50%, 0);
    -ms-transform: rotate(135deg) translate(-50%, 0);
    transform: rotate(135deg) translate(-50%, 0);
  }
  .mm-spn li .fa {
    display: inline-block;
    margin-left: 7px;
    padding-left: 7px;
    border-left: 1px solid #aaa;
    font-size: 15px;
    vertical-align: middle;
    min-width: 16px;
    text-align: center;
  }
  .mm-spn--open {
    margin-top: 120px !important;
  }
  .tours-list article {
    width: 50%;
  }
}
@media (max-width: 950px) {
  .subtitle-content {
    border-bottom: 3px solid var(--secondary-700);
    padding: 0;
  }
  footer .d-row {
    display: block;
    flex-wrap: unset;
  }
  footer .col-footer {
    flex: unset;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
}
.fa-instagram::before {
  content: "\f16d";
}
.searched-container .bc-main .width_15.float-right.font_13.next-prev-container {
  width: 17% !important;
  display: flex !important;
  margin-top: -2rem;
}
.currency-loading.hidden,
.shooting {
  display: none !important;
}
.sort-items li.after-notactive::after {
  margin: 0 5px;
  font-family: fontawesome;
  content: "\f161";
  font-weight: 400 !important;
}
.shooting {
  top: 22rem;
}
.filter-row li .fa-coffee,
.filter-row li .fa-hotel,
.filter-row li .fa-spoon,
.filter-row li .fa-star {
  font-weight: 400 !important;
}
.currency-list {
  z-index: 10;
  top: 100.5% !important;
}
.currency-list ul {
  overflow-y: auto !important;
  height: 330px !important;
}
.currency-list ul li {
  padding: 0.6rem 0;
  font-size: 1rem !important;
  color: var(--primary-900) !important;
}
.currency-list ul li:hover {
  background-color: var(--secondary-500) !important;
  color: #fff !important;
}
.currency-selected div {
  font-size: 14px !important;
}
.fa-map-marked:before {
  font-weight: 400;
  content: "\f278" !important;
}
.answer-info::before,
.question-info-view::before {
  background: #000 !important;
}
.searched-items-container .close-research {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  margin-bottom: 0.5em;
}
.col-details-row.width_20.font_13.text-center {
  font-size: 12px !important;
}
.flaticon-back-in-time:before {
  content: "" !important;
}
header.bg-transparent .border-b {
  direction: ltr !important;
}
@font-face {
  font-display: swap;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../_fonts/fontawesome5-solid-900.eot");
  src: url("../_fonts/fontawesome5-solid-900.eot") format("embedded-opentype"),
    url("../_fonts/fontawesome5-solid-900.ttf") format("truetype"),
    url("../_fonts/fontawesome5-solid-900.svg") format("svg");
}
@font-face {
  font-display: swap;
  font-family: fontawesome;
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../_fonts/fontawesome5-solid-900.eot");
  src: url("../_fonts/fontawesome5-solid-900.eot") format("embedded-opentype"),
    url("../_fonts/fontawesome5-solid-900.ttf") format("truetype"),
    url("../_fonts/fontawesome5-solid-900.svg") format("svg");
}
.exchange-icon {
  font-weight: 900;
  color: white !important;
}
